body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.v-btn {
    text-transform: none
}
.messageIn{
    border: 1px solid #ccc;
    border-radius: 0px 7px 7px 7px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.messageOut{
    border: 1px solid #ccc;
    border-radius: 7px 0px 7px 7px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.messageOut .v-list__tile__title, .messageOut .ist__tile__title{
    text-align:right;
}
.messageOut .v-list__tile__content, .messageOut .list__tile__content{
    text-align:right;
    align-items: flex-end;
}
.v-messages__message, .error--text{
    color: #E44 !important;
}

.contact-list{
    border-right: 1px solid #ccc;
}
.current-contact{
    background-color: #eee;
}
.contact-selection {
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 15px;
}
.contact-selection .v-input__slot{
    border-style: initial;
}
.contact-selection .v-text-field__details{
    display:none;
}
.contact-data{
    font-size: 12pt !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: initial !important;
}
.messageContent > div{
    white-space: pre-wrap;
    padding: 5px;
}
.messageContent > small{
    padding:4px;
}
.message .v-list__tile{
    height: inherit;
    min-height: 60px;
}
.profile-info{
    margin:20px;
}

.rounded {
    border-radius: 7px;
}

a:link, a:visited {
    color: #44A;
    text-decoration: none;
}

